html,body {
    margin: 0;
    font-size: large;
}

#banners {
    /* border: solid 1px black; */
    /* background-color: darkgray; */
    display: flex;
    min-height: 100vh;
    max-height: 100%;
    min-width: 1000px
}

/*
-------------------------------------------------------
*/

#left-banner {
    /* border: solid 1px black; */
    background-color: rgb(58, 58, 58);
    color: white;
    display: flex;
    flex-direction: column;
    width: 200px;
}

#dashboard-area {
    /* border: solid 1px black; */
    padding: 25px;
}

#site-controls, #personal-controls {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
}

.controls-1, .controls-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.controls-1:hover, .controls-2:hover {
    cursor: pointer;
}

/*
-------------------------------------------------------
*/

#right-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
}

/*
-------------------------------------------------------
*/

#top-banner {
    /* border: solid 1px black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px gray;
}

#row-1 {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    height: 50px;
    position: relative;
}

#row-1-left {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-top: 10px;
    margin-left: 20px;
}

#row-1-right {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    position: absolute;
    right: 20px;
}

#row-2 {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    height: 70px;
    position: relative;
}

#row-2-left {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-left: 20px;
}

#row-2-right {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    position: absolute;
    right: 20px;
}

.row-items {
    /* border: solid 1px red; */
    padding: 10px;
    width: fit-content;
}

.row-items:hover {
    cursor: pointer;
}

input {
    border-radius: 15px;
    height: 25px;
    width: 250px;
    padding-left: 10px;
    flex-grow: 1;
}

button {
    border-radius: 15px;
    border: 0;
    height: 30px;
    width: 80px;
    background-color: rgb(58, 58, 58);
    color: white;
}

button:hover {
    cursor: pointer;
}

#search-icon {
    height: 25px;
}

#bell-icon {
    height: 25px;
}

#profile-pic-1 {
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

#identity {
    display: flex;
    justify-content: space-around;
    width: 250px;
    /* border: solid 1px red; */
}

#profile-pic-2 {
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

/*
-------------------------------------------------------
*/

#main-banner {
    /* border: solid 1px black; */
    height: 100%;
    grid-area: 2/2/2/2;
    background-color: rgb(223, 223, 223);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 7fr 2fr;
    grid-template-areas: "projects announcements" "projects trending";
    gap: 10px;
    border-top: 1px solid #000;;
}

/*
-------------------------------------------------------
*/

#projects {
    /* border: solid 1px blue; */
    grid-area: projects;
    display: flex;
    flex-direction: column;
}

#projects-listed {
    /* border:solid 1px red; */
    display: flex;
    flex-wrap: wrap;
}

.project {  
    border: solid 1px black;
    background-color: white;
    height: 150px;
    min-width: 350px;
    flex-grow: 1;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    display: inline;
    padding: 10px;
}
/*
-------------------------------------------------------
*/

#announcements {
    /* border: solid 1px blue; */
    grid-area: announcements;
    height: fit-content;
}

#announcements-listed {
    /* border:solid 1px red; */
    display: flex;
    flex-direction: column;
    width: 90%;
}

.announcement {
    border: solid 1px black;
    background-color: white;
    height: 50px;
    flex-grow: 1;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px gray;
    padding: 10px;
}

/*
-------------------------------------------------------
*/

#trending {
    /* border: solid 1px blue; */
    grid-area: trending;
    height: fit-content;
}

#trending-listed {
    /* border:solid 1px red; */
    display: flex;
    flex-direction: column;
    width: 90%;
}

.trend {
    border: solid 1px black;
    background-color: white;
    height: 50px;
    flex-grow: 1;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px gray;
    padding: 10px;
}

/*
-------------------------------------------------------
*/

#projects-title, #announcements-title, #trending-title {
    font-size: larger;
    margin-top: 10px;
    padding: 10px;
    color: black;
}